<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content class="form-container">
    <form class="add-user-form">
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Dr. rer. nat.">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Birth date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon><img src="../../assets/img/calendar.png"></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Sample">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Any Street">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Street Number</mat-label>
                <input matInput placeholder="123">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Post Code</mat-label>
                <input matInput placeholder="49765">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="Any City">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="+49 (0)">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="name@adress.com">
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Save</button>
</div>