<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content class="form-container">
    <form class="add-user-form" [formGroup]="userForm" (ngSubmit)="editUserHelper.onSubmit(userForm, data, dialogRef, false)">
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput value="{{data.title}}" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Birth date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon><img src="../../assets/img/calendar.png"></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Sample" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Street</mat-label>
                <input matInput placeholder="Any Street" formControlName="street">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Street Number</mat-label>
                <input matInput placeholder="123" formControlName="streetNo">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Post Code</mat-label>
                <input matInput placeholder="49765" formControlName="postcode">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>City</mat-label>
                <input matInput placeholder="Any City" formControlName="city">
            </mat-form-field>
        </div>
        <div class="form-twin">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Telephone</mat-label>
                <input matInput placeholder="+49 (0)" formControlName="telephone">
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="name@adress.com" formControlName="email">
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-button (click)="dialogRef.close();">Cancel</button>
            <button type="submit" mat-button cdkFocusInitial>Save</button>
        </div>
    </form>
</div>
<mat-progress-bar *ngIf="editUserHelper.userInProgress" mode="indeterminate"></mat-progress-bar>