$padding-dashboard: 1rem;
.logo-img {
    display: block;
    height: 48px;
    width: 48px;
    margin-bottom: 2rem;
    padding: $padding-dashboard;
    transition: transform 125ms ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.menu-items {
    list-style-type: none;
    padding-left: 0;
    li {
        padding: $padding-dashboard;
        cursor: pointer;
        a {
            text-decoration: none;
            height: 100%;
            width: 100%;
            color: black;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}