<mat-drawer-container class="app-container" autosize>
    <mat-drawer class="sidenav" mode="side" [opened]="true" #drawer *ngIf="true">
        <app-main-sidenav></app-main-sidenav>
    </mat-drawer>
    <app-main-content></app-main-content>
    <!-- <div class="main-content">
        <mat-toolbar color="primary" *ngIf="true">
            <mat-toolbar-row class="main-toolbar">
                <button (click)="updateSidenav()" class="button-one" aria-controls="primary-navigation" aria-expanded="true" data-state="opened" #hamburger>
                <svg fill="var(--button-color)" class="hamburger" viewBox="0 0 100 100" width="48">
                  <rect class="line top" width="80" height="10" x="10" y="25" rx="5">
                  </rect>
                  <rect class="line middle" width="80" height="10" x="10" y="45" rx="5">
                  </rect>
                  <rect class="line bottom" width="80" height="10" x="10" y="65" rx="5">
                  </rect>
                </svg>
              </button>
                <span>KonoCRM</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet style="display: flex; align-items: center; justify-content:center; height:calc(100vh - 64px);">Hallo</router-outlet>
    </div> -->

</mat-drawer-container>

<!-- Put in *ngIfs for router outlet for login-router -->