<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <div class="login-header">
                <img src="assets/img/logo.png" class="login-logo">
                <mat-card-title>
                    <h1>Register</h1>
                </mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <app-register-form></app-register-form>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <p class="ask-for-registration">You have an account? <a class="sign-up-link" [routerLink]="''">Log in</a></p>
            </mat-card-actions>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>